python-telegram-bot
requests
setuptools
anilistpy == 0.0.5.2
aiohttp
python-arq
pyrogram
firebase-admin
CurrencyConverter
bs4
google
geopy
pillow
telegraph
deep-translator
wikipedia
youtube-search-python
youtube-dl
