python-telegram-bot
requests
setuptools
anilistpy
aiohttp
python-arq
pyrogram
firebase-admin
CurrencyConverter
bs4
google
geopy
pillow
telegraph
deep-translator
wikipedia
youtube-search-python
youtube-dl
